.loginForm{
    width: 350px;
    height: 270px;
    padding: 20px;
    text-align: center;
    margin: 80px auto ;
    background: linear-gradient(100deg, rgb(66, 77, 148) 0%, rgb(117, 147, 150) 100%);  
    border-radius: 10px;
    box-shadow: 0px 0px 18px 9px rgba(51, 51, 51, 0.1);
}
.title{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}
.loginForm div {
    margin: 0 0 30px 0;
}
input{
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    height: 40px;
    border: none;
    border-bottom: 1px solid grey;
}
.btn{
    width: 250px;
    font-size: 23px;
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    color: white;
}
.btn:hover{
    background-color: black;

}